body {
  padding-top: 50px;
  padding-bottom: 20px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

/* styles for validation helpers */
.field-validation-error {
  color: #b94a48; }

.field-validation-valid {
  display: none; }

input.input-validation-error {
  border: 1px solid #b94a48; }

input[type="checkbox"].input-validation-error {
  border: 0 none; }

.validation-summary-errors {
  color: #b94a48; }

.validation-summary-valid {
  display: none; }

body {
  padding-top: 50px;
  padding-bottom: 20px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

/* styles for validation helpers */
.field-validation-error {
  color: #b94a48; }

.field-validation-valid {
  display: none; }

input.input-validation-error {
  border: 1px solid #b94a48; }

input[type="checkbox"].input-validation-error {
  border: 0 none; }

.validation-summary-errors {
  color: #b94a48; }

.validation-summary-valid {
  display: none; }

.panel.panel-default.panel-default-override {
  border-radius: 0;
  border: 0; }
  .panel.panel-default.panel-default-override > .panel-heading {
    background-color: white;
    border-bottom: 2px solid black; }

.btn.btn-default.btn-default-override {
  -ms-border-radius: 0;
  border-radius: 0;
  border: 0;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; }
  .btn.btn-default.btn-default-override:hover {
    background-color: black;
    color: white; }
